@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
  --color-secondary: #4b5563;
  --color-accent: #c5a47e;

  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@layer base {
  body {
    @apply text-primary bg-gray-50;
  }
}